.avatar {
  display: block;
	width: calc(100% + 3em);
  margin: 0 -1.5em 1.5em;
  border-radius: 5px;
}

.about-meta {
  padding: 0.75em;
  border: 1px solid #e5e5e5;
  background-color: lighten($main, 3%);

  + .about-meta {
    border-top: 0;
  }

  + p {
    margin-top: 1.5em;
  }
}
