.site-footer {
  padding: 1.5em 3em;
  background-color: darken($main, 5%);

  @include up-to(l) {
    padding: 1.5em;
  }

  [data-col]:last-child {
    @include at-least(m) {
      text-align: right;
    }
  }
}
