* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
ol,
pre,
figure {
  margin-top: 0;
  margin-bottom: 1.5em;
}

body {
  margin: 0;
  color: $default;
  background-color: darken($main, 5%);
}

.wrap {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.site-main {
  padding: 0 3em 3em;
  background-color: $main;

  @include up-to(l) {
    padding: 0 1.5em 3em;
  }
}

.site-intro {
  margin-bottom: 0;
}

.content-section {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 1.5em;
  }
}

.home-section {
  margin-bottom: 6em;

  &:last-child {
    margin-bottom: 1.5em;
  }

  @include at-least(l) {
    margin-bottom: 7.5em;

    &:first-child {
      padding-top: 1.5em;
    }

    &:last-child {
      margin-bottom: 2em;
    }
  }
}

.alt-section {
  padding: 0 3em 2em;
  margin: 6em -3em 4.5em;
  color: $main;
  text-align: center;
  background-color: $highlight;

  @include up-to(l) {
    padding: 0 1.5em 2em;
    margin: 6em -1.5em 4.5em;
  }

  [data-col] {
    @include up-to(m) {
      &:first-child {
        margin-top: -3em;
      }
    }

    @include at-least(m) {
      margin-top: -3em;
    }
  }

  [data-button] {
    box-shadow: 0 5px 10px rgba($default, 0.35);
  }
}

.button-wrapper {
  margin-bottom: -3.5em;
  text-align: center;
}

.section-heading {
  padding-bottom: 0.221em;
  margin-bottom: 0.882em;
  border-bottom: 5px solid;
}

.anchor {
  border-bottom: 0;
}
