.post-full {
  margin-bottom: 1.5em;

  figure {
    counter-increment: figures;

    @include at-least(xl) {
      margin: 0 6em 1.5em -6em;
    }

    img,
    span {
      border: none;
      box-shadow: 0 5px 10px rgba($default, 0.35);

      @include up-to(xl) {
        margin-bottom: 0.75em;
      }
    }
  }

  figcaption::before {
    content: "Fig. " counter(figures);
    font-weight: bold;
    margin-right: 0.25em;
  }
}

.post-inline,
.post-archive {
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgba(#ccc, 0.45);

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.post-archive {
  padding-bottom: 1.5em;
}

.post-inline {
  padding-bottom: 1.5em;
  will-change: opacity;

  &:last-of-type {
    margin-bottom: 1.5em;
  }

  @include at-least(m) {
    padding-bottom: 3em;
    margin-bottom: 3em;
  }
}

.post-link-entry {
  margin-bottom: 1.5em;

  @include at-least(m) {
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}

.post-link {
  @extend %truncate;

  display: inline-block;
  max-width: 100%;
}

.post-meta {
  margin-bottom: 1.5em;
  color: #aaa;
}

.h1.post-title {
  margin-bottom: 0;
}

.entry-content {
  position: relative;
}

[data-marginalia] {
  @extend .faded;

  font-size: 0.75em;

  @include at-least(xl) {
    position: absolute;
    top: 0;
    left: 100%;
    width: 14em;
    margin: 0;
    margin-left: 2em;
  }
}
